
$theme: '.ace';
$theme: '.ace.sc-small-size';


#{$theme}.sc-segment-view {

  height: 18px;
  
  .left {
    width: 8px;
    height: 18px;
    @extend .__s63_308;
-chance-offset: "resources/segmented/18px/segmented_normal_100_0_8__0_" 0 0;background-repeat: no-repeat;
  }
  
  .right {
    width: 8px;
    height: 18px;
    @extend .__s63_309;
-chance-offset: "resources/segmented/18px/segmented_normal_92_0_8__0_" 0 0;background-repeat: no-repeat;
  }
  
  .middle {
    left: 8px; right: 8px;
    height: 18px;
    @extend .__s63_310;
-chance-offset: "resources/segmented/18px/segmented_normal_8_0_1__0_" 0 0;background-repeat: repeat-x;
  }
  
  .sc-button-label {
    padding: 0px;
    font-size: 11px;
    top: -2px;
    margin-left: 9px;
    margin-right: 10px;
  }
  
  &.sc-first-segment .left {
    @extend .__s63_311;
-chance-offset: "resources/segmented/18px/segmented_normal_0_0_8__0_" 0 0;background-repeat: no-repeat;
  }
    
  &.sc-last-segment .right {
    @extend .__s63_312;
-chance-offset: "resources/segmented/18px/segmented_normal__0_8__0_0" 0 0;background-repeat: no-repeat;  
  }
  
  
  
  &.active {
    .left { @extend .__s63_313;
-chance-offset: "resources/segmented/18px/segmented_active_100_0_8__0_" 0 0;background-repeat: no-repeat; }
    .right { @extend .__s63_314;
-chance-offset: "resources/segmented/18px/segmented_active_92_0_8__0_" 0 0;background-repeat: no-repeat; }
    .middle { @extend .__s63_315;
-chance-offset: "resources/segmented/18px/segmented_active_8_0_1__0_" 0 0;background-repeat: repeat-x; }
  }
  
  &.active.sc-first-segment {
    .left { @extend .__s63_316;
-chance-offset: "resources/segmented/18px/segmented_active_0_0_8__0_" 0 0;background-repeat: no-repeat; }
  }
  
  &.active.sc-last-segment {
    .right { @extend .__s63_317;
-chance-offset: "resources/segmented/18px/segmented_active__0_8__0_0" 0 0;background-repeat: no-repeat; }
  }
  
  
  
  &.sel {
    .left { @extend .__s63_318;
-chance-offset: "resources/segmented/18px/segmented_selected_100_0_8__0_" 0 0;background-repeat: no-repeat; }
    .right { @extend .__s63_319;
-chance-offset: "resources/segmented/18px/segmented_selected_92_0_8__0_" 0 0;background-repeat: no-repeat; }
    .middle { @extend .__s63_320;
-chance-offset: "resources/segmented/18px/segmented_selected_8_0_1__0_" 0 0;background-repeat: repeat-x; }
  }

  &.sel.sc-first-segment {
    .left { @extend .__s63_321;
-chance-offset: "resources/segmented/18px/segmented_selected_0_0_8__0_" 0 0;background-repeat: no-repeat; }
  }

  &.sel.sc-last-segment {
    .right { @extend .__s63_322;
-chance-offset: "resources/segmented/18px/segmented_selected__0_8__0_0" 0 0;background-repeat: no-repeat; }
  }
  
  
  
  &.sel.active {
    .left { @extend .__s63_323;
-chance-offset: "resources/segmented/18px/segmented_selected_active_100_0_8__0_" 0 0;background-repeat: no-repeat; }
    .right { @extend .__s63_324;
-chance-offset: "resources/segmented/18px/segmented_selected_active_92_0_8__0_" 0 0;background-repeat: no-repeat; }
    .middle { @extend .__s63_325;
-chance-offset: "resources/segmented/18px/segmented_selected_active_8_0_1__0_" 0 0;background-repeat: repeat-x; }
  }

  &.sel.active.sc-first-segment {
    .left { @extend .__s63_326;
-chance-offset: "resources/segmented/18px/segmented_selected_active_0_0_8__0_" 0 0;background-repeat: no-repeat; }
  }

  &.sel.active.sc-last-segment {
    .right { @extend .__s63_327;
-chance-offset: "resources/segmented/18px/segmented_selected_active__0_8__0_0" 0 0;background-repeat: no-repeat; }
  }

}

$theme: '.ace';

